<phpunit>
  <testsuites>
    <testsuite name="Concert">
      <directory suffix="Test.php">/cis/lib/Gustavus/Concert/Test/</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="xdebug.collect_params" value="0"/>
    <server name="DOCUMENT_ROOT" value="/cis/www/"/>
  </php>

  <filter>
    <whitelist>
      <directory suffix=".php">/cis/lib/Gustavus/Concert</directory>

      <exclude>
        <directory>/cis/lib/Gustavus/Concert/Test</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>