{% spaceless %}
  {{ scripts|raw }}
  Are you sure you want to delete the file: <strong>{{ removeDocRootFromPath(filePath) }}</strong>?
  <form action="{{ actionUrl }}" method="post" id="concertDelete">
    <input type="hidden" name="filePath" value="{{ filePath|url_encode }}" />
    <input type="hidden" name="concertAction" value="delete"/>
    <button type="submit" name="deleteAction" value="confirmDelete" class="negative deleteAction">Delete</button>&nbsp;
    <button type="submit" name="deleteAction" value="cancelDelete" class="deleteAction">Cancel</button>
  </form>
{% endspaceless %}