<p class="concert-message concert-alert">{{ message|raw }}</p>
<p>Are you sure you want to continue?</p>
<p class="buttonbr">
  <a href="{{ editUrl }}" class="concert-button">Continue</a>
  <a id="cancelEditSiteNavMessage" href="" class="concert-button secondary">Cancel</a>
</p>