<div class="concert-message concert-alert"><div class="concert-message-contents icon-exclamation-triangle">{{ message|raw }}</div></div>
<br/>
<p>Are you sure you want to continue?</p>
<p class="buttonbr">
  <a href="{{ editUrl }}" class="button">Continue</a>
  <a id="cancelEditSiteNavMessage" href="" class="button darkgray">Cancel</a>
</p>