<p class="message">{{ message|raw }}</p>
<p>Are you sure you want to continue?</p>
<p class="buttonbr">
  <a href="{{ editUrl }}" class="button blue">Continue</a>
  <a id="cancelEditSiteNavMessage" href="" class="button">Cancel</a>
</p>