<div class="concert-message concert-alert"><div class="concert-message-contents"><div class="message-icon"><svg class="icon-exclamation-triangle"><use xlink:href="/template/css/icons/icons.svg#icon-exclamation-triangle"></use></svg></div>{{ message|raw }}</div></div>
<br/>
<p>Are you sure you want to continue?</p>
<p class="buttonbr">
  <a href="{{ editUrl }}" class="button">Continue</a>
  <a id="cancelEditSiteNavMessage" href="" class="button darkgray">Cancel</a>
</p>