{% spaceless %}
  <div class="grid_16 alpha omega center">
    <h2>Concert Menu</h2>
    <p>
      {%- for item in menu -%}
          <a href="{{ item.url }}" class="grid_15 concert menu button{% if item.thickbox is not defined or item.thickbox == true %} thickbox{% endif %}{% if item.classes %} {{ item.classes }}{% endif %}" id="{{ item.id }}">{{ item.text }}</a>
      {%- endfor -%}
    </p>
  </div>
{% endspaceless %}