{% spaceless %}
  <p> Would you like to publish the changes made by {{ getFullNameFromUsername(draftOwner) }}?</p>
  <div class="center">
    <a href="{{ url }}&amp;confirmPublish=true" id="publishPendingDraft" class="button thickbox" data-thickbox-width="400">Publish</a><a href="{{ url }}&amp;confirmReject=true" class="button red thickbox" id="rejectPendingDraft" data-thickbox-width="400">Reject</a>
  </div>
{% endspaceless %}