{% spaceless %}
<div class="grid-100 tgrid-100 mgrid-100 alpha omega">
  <div class="grid-50 tgrid-50 mgrid-100 alpha">
    <h2>Sites</h2>
  </div>
{%- if sites|length > 0 -%}
  <div class="grid-50 tgrid-50 mgrid-100 omega">
    <input type="text" name="filter" class="filter" id="filterSites" placeholder="Type to filter" />
  </div>
  <table class="fancy sortable filterable grid-100 tgrid-100 mgrid-100">
    <thead>
      <tr>
        <th>Site</th>
      </tr>
    </thead>
    <tbody>
      {%- for site in sites -%}
        <tr>
          <td><a href="{{ makeUrl(site) }}">{{ makeUrl(site) }}</a></td>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
{%- else -%}
  <p class="message">It looks like there aren't any sites that exist.</p>
{%- endif -%}
</div>
{% endspaceless %}