{% spaceless %}
{%- if sites|length > 0 %}

  <div class="grid-100 alpha omega">
    <div class="push-50 grid-50 alpha omega">
      <input type="text" name="filter" class="filter" id="filterSites" placeholder="Type to filter" />
    </div>
  </div>
  <table class="fancy sortable filterable grid-100 tgrid-100 mgrid-100">
    <thead>
      <tr>
        <th>Site Root</th>
        <th>Excluded Files</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
        {% if not isSuperUser and site['siteRoot'] != '/' or isSuperUser %}
          <tr>
            <td>{{ site['siteRoot'] }}</td>
            <td style="word-break:break-all;">{{ site['excludedFiles'] }}</td>
            <td style="width: 140px;"><a href="{{ buildUrl('editSite', {'site': site['id']}) }}" class="button">Edit</a><a href="{{ buildUrl('deleteSite', {'site': site['id']}) }}" class="button">Delete</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

{%- endif -%}

{% endspaceless %}