.concert-button, .concert-button:any(:link, :visited, :hover, :focus) {
  display: inline-block;
  background-color: $(button-primary);
  color: white;
  text-decoration: none;    padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 5px;
  margin-top: 6px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.concert-button:hover {
  background-color: l-adjust($(button-primary), 10);
  color: white;
}

.concert-button:active {
  background-color: $(button-active-primary);
}

.concert-button.secondary {
  background-color: $(button-secondary);
}

.concert-button.secondary:hover {
  background-color: l-adjust($(button-secondary), 10);
}

.concert-button.secondary:active {
  background-color: $(button-active-secondary);
}

.concert-button.success {
  background-color: $(button-success);
}

.concert-button.success:hover {
  background-color: l-adjust($(button-success), 5);
}

.concert-button.success:active {
  background-color: $(button-active-success);
}

.concert-button.danger {
  background-color: $(button-danger);
}

.concert-button.danger:hover {
    background-color: l-adjust($(button-danger), 5);
  }

.concert-button.danger:active {
  background-color: $(button-active-danger);
}