@import "/css/template/variables.css";
@import "menu.css";

div.editable {
  cursor: text !important;
  min-height: 20px;
}

div.editable:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

div.editable:any(:hover, :focus) {
  outline: 1px dashed #BBB;
}

.ui-widget-overlay {
  background: #000 !important;
}

.fileTreeSelector {
    padding: 1em;
    background: #f6f6f6;
    border-radius: 3px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.fileTreeSelector .selected {
  background: #aaa;
}

.fileTreeSelector .disabled {
  opacity: 0.5;
}