div.editable {
  cursor: text !important;
}

div.editable.show {
  outline: 1px dashed #BBB;
}

.ui-widget-overlay {
  background: #000 !important;
}

.fileTreeSelector .selected {
  background: #aaa;
}

.fileTreeSelector .disabled {
  opacity: 0.5;
}