@define {
  /*concert-white: #f8f8f8;
  concert-gray: #3d3d3e;*/

  menu-height: 45px;

  button-primary: #$(brand-blue);
  button-active-primary: l-adjust( #$(brand-blue) -10 );

  button-secondary: #888;
  button-active-secondary: l-adjust( #888 -15 );

  button-success: #$(brand-green);
  button-active-success: l-adjust( #$(brand-green) -15 );

  button-danger: #$(brand-red);
  button-active-danger: l-adjust( #$(brand-red) -15 );

 /* message-color: #$(brand-blue);
  message-error-color: #$(brand-red);
  message-alert-color: #$(brand-orange);*/
}

@import "menu.css";
@import "messages.css";
/*@import "buttons.css";*/

body.loading, body.loading * {
  cursor: progress !important;
}

div.editable {
  cursor: text !important;
  min-height: 20px;
  clear:left;
}

div.editable:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

div.editable:any(:hover, :focus) {
  outline: 1px dashed #BBB;
}

.ui-widget-overlay {
  background: #000 !important;
}

.fileTreeSelector {
    padding: 1em;
    background: #f6f6f6;
    border-radius: 3px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.fileTreeSelector .selected {
  background: #aaa;
}

.fileTreeSelector .disabled {
  opacity: 0.5;
}

#filterSites {
  margin-top: 15px;
  width: 100%;
}

/* Add collaborators width for colorbox */
#addusers {
  width: 500px;
}

#page-content #addusers {
  width: auto;
}

@media $(mobile) {
  #addusers {
    width: 100%;
  }
}

/* Add recentActivity width for colorbox */
#recentActivity {
  width: 100%;
  max-width: 1200px;
}

#page-content #recentActivity {
  width: auto;
}

@media $(mobile) {
  #recentActivity {
    width: 100%;
    max-width: 767px;
  }
}