@in #util-bar-extras .concert-menu {

  & {
    min-height: $(menu-height);
    color: #$(web-dark-gray);
    position: relative;
    z-index: 145;
    text-align: left;
    margin-bottom: 0;
  }

  &:after {
    display: table;
    content: '';
    clear: both;
  }

  & a:not(.button), & a:not(.button):hover {
    color: #$(web-dark-gray);
  }

  & a.button {
    padding: 10px;
    position: relative;
    top: 2px;
  }

  & .menu-content {
    float: left;
    height: $(menu-height);
    opacity: 1;
  }

  & .menu-content.right {
    float: right;
  }

  & .menu-bar {
    margin: 0;
  }

  & .menu-item {
    display: inline-block;
    position: relative;
    outline: none;
  }

  & .menu-item a.menu-item-label, & .concert-menu-activate-button {
      line-height: $(menu-height);
      padding: 0 10px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      outline: none;
  }

  & .concert-menu-activate-button:before {
    display: inline-block;
    content: '';
    width: 25px;
    height: $(menu-height);
    vertical-align: bottom;
    background-image: url(/gimli/w100/concert/icons/concert-logo-dark.png);
    background-size: 20px;
    background-position: 5px 12px;
    background-repeat: no-repeat;
  }

  & .menu-item:any(:hover, .open) a.menu-item-label{
    background-color: #$(web-dark-gray);
    color: #$(web-background);
    text-decoration: none;
  }

  & .menu-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: $(menu-height);
    margin: 0;
    list-style: none;
    background: #$(web-dark-gray);
    border: 1px #$(web-dark-gray) solid;
    border-top: none;
    min-width: 150px;
    z-index: 150;
  }

  & .menu-item.open .menu-dropdown {
    display: block;
  }

  & .menu-dropdown-item :any(a, a:visited) {
    line-height: 2em;
    padding: 0 1em;
    display: block;
    outline: none;
    color: #$(web-background);
  }

  & .menu-dropdown-item a:any(:hover, :focus) {
    background-color: #$(web-light-gray);
    color: #$(web-black);
    text-decoration: none;
  }

  &.hidden {
    height: 0;
    min-height: 0;
  }

  &.hidden .menu-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
