@in #util-bar-extras .concert-menu {

  & {
    min-height: $(menu-height);
    color: #$(web-dark-gray);
    position: relative;
    z-index: 145;
    text-align: left;
    margin-bottom: 0;
  }

  &:after {
    display: table;
    content: '';
    clear: both;
  }

  & a:not(.button), & a:not(.button):hover {
    color: #$(web-dark-gray);
  }

  & .menu-content {
    float: left;
    height: $(menu-height);
    opacity: 1;
  }

  & .menu-content.right {
    float: right;
  }

  & .menu-bar {
    margin: 0;
  }

  & .menu-item {
    display: inline-block;
    position: relative;
    outline: none;
  }

  & .menu-item a.menu-item-label, & .concert-menu-activate-button {
      line-height: $(menu-height);
      padding: 0 10px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      outline: none;
  }

  & .concert-menu-activate-button:before {
    display: inline-block;
    content: '';
    width: 25px;
    height: $(menu-height);
    vertical-align: bottom;
    background-image: url(/gimli/w100/concert/icons/concert-logo-dark.png);
    background-size: 20px;
    background-position: 5px 12px;
    background-repeat: no-repeat;
  }

  & .menu-item:any(:hover, .open) a.menu-item-label{
    background-color: #$(web-dark-gray);
    color: #$(web-background);
    text-decoration: none;
  }

  & .menu-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: $(menu-height);
    margin: 0;
    list-style: none;
    background: #$(web-dark-gray);
    border: 1px #$(web-dark-gray) solid;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    min-width: 150px;
    z-index: 150;
  }

  & .menu-item.open .menu-dropdown {
    display: block;
  }

  & .menu-dropdown-item :any(a, a:visited) {
    line-height: 2em;
    padding: 0 1em;
    display: block;
    outline: none;
    color: #$(web-background);
  }

  & .menu-dropdown-item a:any(:hover, :focus) {
    background-color: #$(web-light-gray);
    color: #$(web-black);
    text-decoration: none;
  }

  & .messages-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: $(menu-height);
    min-width: 350px;
    background: $(concert-gray);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    z-index: 150;
    overflow: hidden;
  }

  & .concert-message {
    border-radius: 0;
    border-bottom: 1px solid #666;
  }

  & .concert-message:last-child {
    border-bottom: none;
  }

  & .concert-message:before {
    border-radius: 0;
  }

  &.hidden {
    height: 0;
    min-height: 0;
  }

  &.hidden .menu-content {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

/*
  @media screen and (max-width: 1175px) {
    &.hidden {
      margin-bottom: $(menu-height);
    }
  }

  @media screen and (max-width: 700px) {
    & {
      height: auto;
      transition: none;
    }

    & .menu-content, & .menu-content.right {
      float: none;
      height: auto;
    }
    & .menu-item {
      display: block;
    }
    & .menu-item-label {
      width: 100%;
    }

    & .menu-item-label, & .menu-item .menu-button {
      display: block;
      box-sizing: border-box;
      margin-bottom: 0.5em;
    }

    & .menu-dropdown {
      width: 100%;
      font-size: 1.2em;
    }
  }*/

}
