.concert-message {
  background: #$(web-medium-gray);
  padding: 30px 10px 30px 55px;
  color: #$(web-background);
  position: relative;
}
.concert-message .concert-message-contents {
  white-space: normal;
  line-height: 1.2em;
}
.concert-message-contents[class^="icon-"]::before, .concert-message-contents[class*=" icon-"]::before {
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 7px;
}

.concert-message:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  background-color: #$(brand-blue);
  width: 44px;
}
.concert-message.concert-alert:before {
  background-color: #$(brand-orange);
}

.concert-message.concert-error:before {
  background-color: #$(brand-red);
}